{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<!-- Landing Page Section -->
<div class="landing">
    <div class="home-wrap">
        <div class="home-inner">
            
        </div>
    </div>
</div>

<div class="caption text-center">
    <img src="{% static 'images/logo3.png' %}">
    <h3>IEEE Suez Canal University Student Branch</h3>
</div>


<!-- Events Section -->
<div id="events" class="offset">
<div class="jumbotron">
    <div class="col-12 text-center">
        <h3 class="heading">Events</h3>
        <div class="heading-underline"></div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <ul class="timeline">
                    <li>
                        <p class="float-right">October 29, 2019</p>
                        <h5>Egypt IoT & AI Challenge Session</h5>
                    </li>
                    <li>
                        <p class="float-right">November 3, 2019</p>
                        <h5>Huawei ICT Competition Orientation</h5>
                    </li>
                    <li>
                        <p class="float-right">November 4, 2019</p>
                        <h5>Valeo Egypt Roadshow</h5>
                    </li>
                    <li>
                        <p class="float-right">February 24, 2020</p>
                        <h5>ICPC Partnership - Competitive Programming Session</h5>
                    </li>
                    <li>
                        <p class="float-right">March 2, 2020</p>
                        <h5>Electrical Engineering Fields Session</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</div>

<!-- Board Section -->
<div id="board" class="offset">
<div class="jumbotron">
    <div class="col-12 text-center">
        <h3 class="heading">Board</h3>
        <div class="heading-underline"></div>
    </div>

    <div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-2 col-6 board">
            <img src="{% static 'images/Mohanad.jpg' %}">
            <h4>Mohanad Mohsen</h3>
            <h5>Chairman</h4>
        </div>

        <div class="col-md-2 col-6 board">
            <img src="{% static 'images/Merna.jpg' %}">
            <h4>Merna Hamdy Ahmed</h3>
            <h5>Vice Chairwoman</h4>
        </div>

        <div class="col-md-2 col-6 board">
            <img src="{% static 'images/Alaa.jpg' %}">
            <h4>Alaa Samy</h3>
            <h5>Secretary</h4>
        </div>

        <div class="col-md-2 col-6 board">
            <img src="{% static 'images/Mohamed_Gamal.jpg' %}">
            <h4>Mohamed Gamal Diab</h3>
            <h5>Treasurer</h4>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-2 col-6 board">
            <img src="{% static 'images/Omar.jpg' %}">
            <h4>Omar Tarik</h3>
            <h5>HR Head</h4>
        </div>
        
        <div class="col-md-2 col-6 board">
            <img src="{% static 'images/Khodary.jpg' %}">
            <h4>Mohamed Reda AlKhodary</h3>
            <h5>Social Media Head</h4>
        </div>
        
        <div class="col-md-2 col-6 board">
            <img src="{% static 'images/Moaz.jpg' %}">
            <h4>Moaz Ashraf</h3>
            <h5>Techincal Head</h4>
        </div>
        
        <div class="col-md-2 col-6 board">
            <img src="{% static 'images/Hossam.jpg' %}">
            <h4>Hossam Tarek</h3>
            <h5>Logistics Head</h4>
        </div>
        
        <div class="col-md-2 col-6 board">
            <img src="{% static 'images/Mai.jpg' %}">
            <h4>Mai Mohamed</h3>
            <h5>PR & FR Head</h4>
        </div>
    </div>
    </div>
</div>
</div>

<!-- Contact Section -->
<div id="contact" class="offset">
    <div class="jumbotron">
        <div class="row justify-content-center">

            <div class="col-12 text-center">
                <h3 class="heading">Contact Us</h3>
                <div class="heading-underline"></div>
            </div>
            
            <div class="col-lg-6 h-100 text-center my-auto">
                <a href="https://www.facebook.com/SCUIEEESB">
                    <i class="fab fa-facebook fa-4x fa-fw"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    console.log(document.getElementById('events').scrollTop)

</script>

{% endblock %}
