{% extends "blog/base.html" %}

{% block content %} 
  <div class="container">
    <h1 class="mb-3">Posts by {{ user }}</h1>

    {% for blog in blogs %}

        <article class="media content-section">

          <img class="rounded-circle article-img" src="{{ blog.author.userimage.image.url }}">

          <div class="media-body">

            <div class="article-metadata">

              <span class="mr-2">{{ blog.author }}</span>

              <small class="text-muted">{{ blog.upload_date|date:"F d, Y" }}</small>

            </div>

            <h2><a class="article-title" href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a></h2>

            <p class="article-content">{{ blog.content }}</p>

          </div>

        </article>

    {% endfor %}

  </div>
{% endblock %}